<footer>
    <!-- Logo -->
    <img src="BUSQMED_LOGO_1.png" alt="">


    <!-- Botões centrais -->
<!--     Comentando Botão Login do Footer (dia:08/12/2024 05h 43min) -->
<!-- <nav class="app-main"> -->
<!--         <app-botao-blue Titulo="Login"></app-botao-blue> -->
<!--         <button class="footer-button">Esqueceu a senha?</button> -->
<!--     </nav> -->

    <!--botões da direita -->
    <nav class="app-nav">
        <button class="footer-button" routerLink="home" >HOME</button>
        <button class="footer-button" routerLink="quem somos" >QUEM SOMOS</button>
        <button class="footer-button" routerLink="medicamentos" >MEDICAMENTOS</button>
        <button class="footer-button"  routerLink="campanhas" >CAMPANHAS DE SAÚDE</button>
        <button class="footer-button" routerLink="opine" >OPINE AQUI</button>
        <button class="footer-button" routerLink="contato" >CONTATO</button>
    </nav>
</footer>
