<footer>
    <!-- Logo -->
    <img ngSrc="assets/busqmedlogo.png" width="236" height="53" alt="Logo" />


    <!-- Botões centrais -->
    <nav class="app-main">
        <button class="footer-button">LOGIN</button>
        <button class="footer-button">Esqueceu a senha?</button>
    </nav>

    <!--botões da direita -->
    <nav class="app-nav">
        <button class="footer-button">HOME</button>
        <button class="footer-button">QUEM SOMOS</button>
        <button class="footer-button">MEDICAMENTOS</button>
        <button class="footer-button">CAMPANHAS DE SAÚDE</button>
        <button class="footer-button">OPINE AQUI</button>
        <button class="footer-button">CONTATO</button>
    </nav>
</footer>
