<div id="header">
    <div id="top">
        <img src="BUSQMED_LOGO_3.png" alt="">
        <app-botao-blue Titulo="Login"></app-botao-blue>
    </div>

    <div id="middle">
        <img src="BUSQMED_LOGO_1.png" alt="">
    </div>

    <nav>
        <ul>
            <li><a routerLink=""   routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" >Home</a></li>
            <li><a routerLink="medicamentos" routerLinkActive="active-link">Medicamentos</a></li>
            <li><a routerLink="opine" routerLinkActive="active-link">Opine aqui</a></li>
        </ul>
    </nav>
</div>
