#header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#top{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top img{
    width: 200px;
}

#middle{
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#middle img
{
    width: 400px;
}

#header nav{
    background-color: var(--verdeClaro);
}

#header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 25px  0;
    font-size: 20pt;
    color: #fff;
    font-weight: 600;
    border:  0;
    align-items: center;
}

#header nav ul li:hover{
    cursor: pointer;
    border: 1px solid #fff;
    padding: 5px 14px;
    background-color: #ffffff41;

}

#header nav ul li
{
    padding: 7px 16px;

    border-radius: 7px;
    font-size: 22pt;
}

#header nav ul li a
{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

#header nav ul li .active-link {
    font-weight: bold;
    color: var(--azul-escuro);
  }
  
  @media(max-width: 700px){
    #header nav ul li{
        font-size: 16pt;
    }

  }

  @media(max-width: 500px){
    
    #middle img{
        width: 80vw;
    }
  }