#header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#top{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top img{
    width: 200px;
}

#middle{
    background-color: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#middle img
{
    width: 400px;
}

#header nav{
    background-color: var(--verdeClaro);
}

#header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 25px  0;
    font-size: 20pt;
    color: #fff;
    font-weight: 600;
    align-items: center;
}

#header nav ul li:hover{
    cursor: pointer;
    padding: 0 7px;
    border:  0;
    font-size: 22.3pt;

}

#header nav ul li 
{
    border: 2px solid #fff;
    padding: 5px 14px;
    border-radius: 7px;
}