
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    display: flex;
    background-color: var(--cinza);
}

.login-container {
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: var(--verdeEscuro);
}

.input-group {
    margin-bottom: 2rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.login-btn {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--verdeClaro);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: var(--verdeEscuro);
}

.login-footer {
    text-align: center;
    margin-top: 1rem;
}

