#medicamentos{
    display: flex;
    flex-direction: column;
    background-color: var(--cinza);
    padding-bottom: 100px;
}

#medicamentos #top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 120px;
}
#medicamentos #top img{
    width: 400px;
    margin-left: 40px;
}
#quemsomos h3{
    font-size: 22pt;
    margin-bottom: 40px;
}

#quemsomos p{
    font-size: 17pt;
}

#pesquisarMed{
    display: flex;
    flex-direction: column;
}

#pesquisarMed #top{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pesquisarMed #top input{
    width: 500px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px gray;
}

#listMEd{
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media(max-width: 1000px)
{
   #medicamentos{
    align-items: center;
    justify-content: center;
   }
    #medicamentos #top{
        width: 100%;
        padding: 60px 10px;
        justify-content: center;
        align-items: center;
    }
    #medicamentos #top img{
        margin-bottom: 30px;
        margin-left: 0;
    }
    #quemsomos{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #quemsomos p{
        text-align: justify;
    }
    #medicamentos #top{
        flex-wrap: wrap;
        margin-left: 0;
        width: 80vw;
    }

    
}