#home {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza);
    padding-bottom: 100px;
}

#home #top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 120px;
}

#home #top img {
    width: 400px;
    margin-left: 40px;
}

#opine h3 {
    font-size: 1.375rem;
    margin-bottom: 40px;
    align-items: center;
}

#opine p {
    font-size: 1.06rem;
}

#list p {
    font-size: 1.06rem;
}

#list {
    display: flex;
    flex-direction: row;
}

#list .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
    margin-top: 40px;
    margin-right: 100px;
    width: 40%;
}

#list .card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#list .card2 textarea {
    width: 100%;
    max-width: 100%; 
    height: 400px; /* Altura do textarea */
    padding: 10px; /* Espaçamento interno */
    font-size: 1.06rem; /* Tamanho da fonte */
    border-radius: 12px; /* Cantos arredondados */
    box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

#list .card2 app-botao-blue {
    align-self: flex-end;
    margin-top: 10px;
}

#list .card input {
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--cinza-escuro);
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    #home #top {
        flex-direction: column;
        padding: 40px 60px;
    }

    #home #top img {
        width: 300px;
        margin-left: 0;
        margin-top: 20px;
    }

    #opine h3 {
        font-size: 1.25rem;
    }

    #opine p {
        font-size: 1.06rem;
    }

    #list {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #list .card {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
    }

    #list .card2 textarea {
        max-width: 100%;
    }

    #list .card2 app-botao-blue {
        align-self: center;
        width: 100%;
        max-width: 140px;
    }
}

