<div id="home">
    <div id="top">
        <div id="opine">
            <h3>Opine aqui</h3>
            <p>A plataforma é uma ferramenta estratégica para melhorar a comunicação entre o governo e os cidadãos,
                 garantindo que todos tenham acesso rápido e preciso a informações fundamentais para sua saúde e bem-estar</p>
        </div>
        <img src="BUSQMED ÍCONE 3.png" alt="">
    </div>

    <div id="list">
        <div class="card">
            <p>Envie sua opinião, elogio, crítica ou sugestão para melhorar este serviço.
                Sua participação nos ajuda a crescer e oferecer um atendimento ainda melhor!
                Ou entre em contato para obter mais informações.
                Estamos prontos para tirar suas dúvidas e atender às suas necessidades.</p>
        </div>

<!--         <div class="card2"> -->
<!--             <textarea id="mensagem" placeholder="Escreva sua mensagem nesse campo" rows="1" cols="100"></textarea> -->
<!--             <app-botao-blue Titulo="ENVIAR"></app-botao-blue> -->
<!--         </div> -->
      
      <div class="card2">
        <form (ngSubmit)="enviarMensagem()">
          <textarea id="mensagem" name="mensagem"
<!--             *ngIf="!mensagemEnviada"  -->
<!--             [(ngModel)]="mensagem"  -->
            name="mensagem" 
            placeholder="Escreva sua mensagem nesse campo" 
            rows="1" 
            cols="100">
          </textarea>
          <app-botao-blue input type="submit" value="Enviar"
            Titulo="ENVIAR" 
            (click)="enviarMensagem()">
          </app-botao-blue>
        </form>
      </div>
    </div>
</div>
