<div id="home">
    <div id="top">
        <div id="quemsomos">
            <h3>QUEM SOMOS</h3>
            <p>Somos uma empresa inovadora dedicada a transformar a maneira como 
                a sociedade acessa e interage com os serviços públicos. Nossa missão é 
                desenvolver soluções tecnológicas que melhoram a eficiência, a 
                transparência e a inclusão no atendimento aos cidadãos.</p>
        </div>
        <img src="BUSQMED_IMAGEM_1.png" alt="">
    </div>

    <div id="list">
        <div class="card">
            <img src="BUSQMED ÍCONE 1.png" alt="">
            <app-botao-blue Titulo="MEDICAMENTOS"></app-botao-blue>
        </div>

        <div id="middleCard" class="card">
            <img src="BUSQMED ÍCONE 2.png" alt="">
            <app-botao-blue Titulo=" CAMPANHAS DE SAÚDE"></app-botao-blue>
        </div>

        <div class="card">
            <img src="BUSQMED ÍCONE 3.png" alt="">
            <app-botao-blue Titulo="OPINE AQUI"></app-botao-blue>
        </div>
    </div>
</div>
