<div class="container">
    <div class="container-content">
        <div>
            <h3>Quem somos</h3>
            <p>
                Somos uma empresa inovadora dedicada a transformar a maneira como
                a sociedade acessa e interage com os serviços públicos. Nossa missão é
                desenvolver soluções tecnológicas que melhoram a eficiência, transparência
                e a inclusão no atendimento aos cidadãos.
            </p>
        </div>
        <img src="BUSQMED_IMAGEM_1.png" alt="Logo">
    </div>
    <div class="botao-container">
        <div class="icones">
            <img src="BUSQMED_ÍCONE_1.png" alt="Medicamentos Ícone">
            <app-botao-blue Titulo="MEDICAMENTOS"></app-botao-blue>
        </div>
        <div class="icones">
            <img src="BUSQMED_ÍCONE 2.png" alt="Medicamentos Ícone">
            <app-botao-blue Titulo="CAMPANHAS DE SAÚDE"></app-botao-blue>
        </div>
        <div class="icones">
            <img src="BUSQMED_ÍCONE_3.png" alt="Opine Ícone">
            <app-botao-blue Titulo="OPINE AQUI"></app-botao-blue>
        </div>
    </div>
</div>
