.botaoAzul {
  padding: 7px 35px;
  border-radius: 20px;
  background-color: var(--azul-escuro);
  color: #fff;
  font-weight: 600;
  border: 0;
  font-size: 15pt;
  transition: background-color 0.3s ease-in-out; 
}

.botaoAzul:hover {
  background-color: var(--verdeEscuro); 
  cursor: pointer;
}

.botaoAzul:active {
  background-color: var(--verde);
}
